
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');


p{
  font-size: 1em;
  line-height: 1.5em;
}
figcaption{
  /*font-size: 0.75em;
  font-weight: normal;
  line-height: 0.75em;
  font-family: Georgia, "Times New Roman", serif;*/
  font: normal 0.75em/1.5em Georgia, "Elsie Swash Caps", cursive;
  color: #777;
  text-align: right;
}